# Manual: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html

# Ignore the output directory:
bin/

# Ignore external libraries:
*.jar

# Ignore local backups:
*.7z

# Ignore sink folder:
sink/


# Ignore shortcut scripts:
img2pdf
img2pdf.cmd
